#adduSeal {
  max-height: 60px;
  max-width: 60px;
}
.navbar {
  background-color: #3b5998;
}
.contents {
  margin-left: 5rem;
}
.font-link-contents {
  color: white;
}

/* App.jsx */
.user-login {
  margin-top: 10rem;
  width: 20rem;
  margin-left: 10rem;
}
.privacy-notice{
margin-top: 10rem;
margin-left: 5rem;
}
#button-login {
  margin-left: 15.5rem;
}
